<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>执剑</title>
  <style>
    pre{
      background: #f3f3f3;
      padding: 10px 20px;
      border-radius: 6px;
      overflow-x: auto;
    }
  </style>
</head>
<body>
  <h1>执剑 (<%= htmlWebpackPlugin.options.version %>)</h1>

  <p>该游戏为命令行游戏，可以通过浏览器控制台，或终端游玩。</p>

  <h2>开始游戏</h2>

  <h3>控制台</h3>

  <p>请在控制台中输入以下内容即可开始游戏。</p>

  <p>请注意，游戏存档将保存在游玩时页面中。暂不支持https，如需游玩，请直接复制代码在控制台执行。</p>

<pre>
const script = document.createElement('script');
script.src = 'http://console.lionet.cloud/<%= htmlWebpackPlugin.files.js %>';
document.body.appendChild(script);
</pre>
</body>
</html>